<div class="container">
  <div class="row">
    <h4 class="col-12">CHILD A.</h4>
    <div class="col-12">
      <p><a routerLink="../services">Click to navigate to Services component using Relative Links</a></p>
    </div>  
  </div>
  <div class="col-12">
    <label for="data" class="col-6">Data</label><input name="data" [(ngModel)]="data" class="col-6"/>
    <label for="student" class="col-6">Student</label><input name="student" [(ngModel)]="student.name" class="col-6"/>
  </div>
  <p>Name Changed: {{nameChanged}} Oldname: {{oldname}}</p>
</div>


