<div class="container-fluid">
  <h1 routerLink="" style="cursor: pointer;">Angular Prep App</h1>

  <nav class="navbar navbar-expand-lg navbar-light navbar-bg-light">
    <!-- <a class="navbar-brand" href="#">Angular Prep Topics</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggleTarget">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="toggleTarget">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/observables">Observable</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pipesAndDirectives">Pipes and Directives</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/routing">Routing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lifecycleHooks">Lifecycle Hooks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/forms">Forms</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
